
#container {
    width: 375px;
    height: 75vh;
    margin: auto;
    background-color: yellow;
    padding: 5px 10px;
}

#cm {
    width: 50%;
    height: 25px;
    margin-top: 30px;
}

#kg {
    width: 50%;
    height: 25px;
    margin-top: 30px;
}